header {
    text-align: center;
    background-color: rgb(180, 0, 216);
    padding: 100px;
}

h1 {
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-weight: bold;

}

main {
    background-color: black;
    text-align: center;
    padding:  100px;
    margin: auto;
}

h2 {
    margin-bottom: 40px;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(180, 0, 216) ;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}

li{
    margin: 10px auto;
    padding: 10px;
    background-color: darkorchid;
    width:  30%;
    border-radius: 10px;
}

li:hover {
    width: 33%;
    background-color: rgba(195, 0, 255, 0.993);
}

footer {
    background-color: rgb(180, 0, 216);
    text-align: center;
    padding: 100px 0 100px 0;
}

footer img {
    width: 100px;
}
